@use 'colors' as *;

*, *::after, *::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--background-color);
	font-family: 'Roboto', sans-serif;
	color: var(--text);
}

.green {
	color: var(--main-color);
	font-weight: 700;
}

.header {
	padding: 2rem;
	background-color: var(--header-background);

	&__content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: 1.6rem;
	}

	&__mode {
		position: absolute;
		right: 0;
	}

	&__click {
		display: flex;
		align-items: center;
		padding: 5px;
		font-size: 0.9rem;
		cursor: pointer;
	}

	&__img {
		margin-right: 5px;
		width: 1.3rem;
	}

	&__mode-color {
		margin-right: 5px;
	}
}

.main {
	.container {
		margin: 0 auto;
		max-width: 1200px;
		text-align: center;
	}

	&__header {
		margin: 5rem 0;
		color: var(--main-color);
	}

	&__subheader {
		font-size: 1.3rem;
        cursor: pointer;
	}

    &__question-answers
    {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s;
    }

	&__question-header{
		display: flex;
        align-items: center;
		justify-content: center;
		margin-bottom: 1rem;
	}

    &__question-buttons
    {
        margin-top: 2rem;
    }

	&__question-options
	{
		display: flex;
		justify-content: center;
		margin-top: 0.5rem;
	}

    &__question-option
    {
        margin: 0 5px;
        padding: 5px 10px;
        width: 120px;
        border-radius: 5px;
        border: none;
		background-color: var(--option-color);
		transition: background-color .3s;
		cursor: pointer;
    }

	&__question-option:hover
	{
		background-color: var(--main-color);
	}

	&__lose
	{
		position: relative;
	}

	&__lose-options
	{
		display: none;
		position: absolute;
		top: 120%;
		left: 5px;
		padding: .5rem 1rem;
		width: 420px;
		border-radius: 5px;
		background-color: var(--option-color);
		box-shadow: 2px 2px 5px #000;
		text-align: left;
		color: #000;
	}

	&__question-sliders
	{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 2rem;
	}

	&__question-slider
	{
		margin-bottom: 4rem;
	}

	&__slider-container
	{
		position: relative;
		margin: 0 2rem;
		height: 1.5rem;
	}

	&__slider
	{
		appearance: none;
		width: 400px;
		height: 1.5rem;
		border-radius: 5px;
		background-image: linear-gradient(90deg, var(--main-color) 50%, var(--option-color) 50%);
	}

	&__slider::-webkit-slider-thumb
	{
		appearance: none;
		width: 25px;
		height: 25px;
		background-color: var(--option-color);
		border-radius: 50%;
		border: none;
		box-shadow: 1px 1px 4px #000;
		cursor: pointer;
	}

	&__input, &__input-description
	{
		position: absolute;
		top: 100%;
		left: 49.5%;
		height: 30px;
		text-align: center;
		background-color: var(--option-color);
		border-radius: 5px;
		border: none;
		transform: translateX(-50%);

		&::placeholder
		{
			color: #000;
		}
	}

	&__input
	{
		width: 40px;
	}

	&__input--invisible
	{
		display: none;
	}

	&__input-description
	{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		font-size: 0.9rem;
		color: #000;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		-moz-appearance: textfield;
	  }
}

.question-icon {
	width: 40px;
    height: 40px;
}

.question-icon:nth-child(2) {
    cursor: pointer;
}

.show-height
{
    max-height: 10rem;
}

.show-more-options
{
	display: block;
}

@import 'small';
