---
import Header from '../components/Header.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Calculate your caloric intake</title>
  </head>
  <body class="content-grid">
    <Header />
  </body>
</html>

<style is:global lang="scss">
  @use '../sass/_mixins' as *;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --clr-green-400: 120 100% 35%;
    --accent-clr: hsl(var(--clr-green-400));
    --outline-width: 3px;
    --border-radius: 0.5em;
    --header-dark: 207 90% 4%;
    --header-light: 207 10% 98%;
    --toggler-button-width: 3rem;
    --toggler-translate-x: 0;
    @include header-colors(var(--header-light), var(--header-dark));

    @media (prefers-color-scheme: dark) {
      --toggler-translate-x: calc(var(--toggler-button-width) / 2);
      @include header-colors(var(--header-dark), var(--header-light));
    }

    & [data-theme='dark'] {
      --toggler-translate-x: calc(var(--toggler-button-width) / 2);
      @include header-colors(var(--header-dark), var(--header-light));
    }

    & [data-theme='light'] {
      --toggler-translate-x: 0;
      @include header-colors(var(--header-light), var(--header-dark));
    }
  }

  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }

  img,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button {
    font: inherit;
  }

  button {
    border: none;
    cursor: pointer;
  }

  .sr-only {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .content-grid,
  .full-width-grid {
    --edge-size: 1rem;
    --container-size: 70rem;
    display: grid;
    grid-template-columns:
      [full-width-start] minmax(
        var(--edge-size),
        calc((100% - var(--container-size)) / 2)
      )
      [content-start] 1fr
      [content-end] minmax(
        var(--edge-size),
        calc((100% - var(--container-size)) / 2)
      )
      [full-width-end];
  }

  .content-grid > *,
  .full-width-grid > * {
    grid-column: content;
  }

  .content-grid > .full-width-grid {
    grid-column: full-width;
  }

  .font-bold {
    font-weight: 700;
  }

  .green-text {
    color: var(--accent-clr);
  }

  :focus-visible {
    outline: var(--outline-width) solid transparent;
    outline-offset: var(--outline-width);
  }
</style>
