---
import BasicData from './BasicData.astro'
import SlidersSection from './SlidersSection.astro'
---

<form data-form="caloric-intake">
  <BasicData />
  <SlidersSection />
  <button data-button="submit" class="btn">Show Result</button>
</form>

<script>
  import { handleSubmit } from '../../helpers/form'

  const submitBtn = document.querySelector('[data-button="submit"]')

  submitBtn?.addEventListener('click', (e: Event) => {
    e.preventDefault()

    handleSubmit()
  })
</script>

<style lang="scss">
  form {
    display: grid;
    gap: 4rem;

    button {
      justify-self: center;
      padding: 0.5em 1.5em;
      margin-block-start: 2rem;
      font-weight: 700;
    }
  }
</style>
