---
const year = new Date().getFullYear()
---

<footer class="full-width-grid">
  <p>CalorieCompany © {year}</p>
</footer>

<style lang="scss">
  footer {
    padding-block: 2em;
    background-color: var(--darker-comp-bg);

    p {
      text-align: center;
    }
  }
</style>
