---
import ThemeToggler from './ThemeToggler.astro'
---

<header class="full-width-grid">
  <div class="header-content">
    <h1 class="font-bold"><span class="green-text">Calorie</span>Company</h1>
    <ThemeToggler />
  </div>
</header>

<style lang="scss">
  header {
    padding-block: 1.8em;
    background-color: var(--header-background);
    color: var(--header-text);

    .header-content {
      display: flex;
      justify-content: space-between;
    }

    h1 {
      font-size: clamp(1.0419rem, 0.9252rem + 0.7776vw, 1.8rem);
    }
  }
</style>
