---
import BasicData from './BasicData.astro'
import SlidersSection from './SlidersSection.astro'
---

<form>
  <BasicData />
  <SlidersSection />
  <button data-button="submit">Show Result</button>
</form>

<script>
  const submitBtn = document.querySelector('[data-button="submit"]')

  submitBtn?.addEventListener('click', (e: Event) => {
    e.preventDefault()
  })
</script>

<style lang="scss">
  form {
    display: grid;
    gap: 4rem;

    button {
      justify-self: center;
      padding: 0.5em 1.5em;
      margin-block-start: 2rem;
      background-color: hsl(var(--clr-white-900));
      border-radius: var(--border-radius);
      font-weight: 700;
      transition: background-color 200ms;

      &:hover {
        background-color: var(--accent-clr);
      }
    }
  }
</style>
